body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%;
    border-radius: 15px;
    color: white;
    margin-bottom: 40px;
}
.data-container {
    background-color: rgb(94, 0, 187);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    border-radius: 15px;
    color: white;
}
.detail-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.plot-container {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}
.table-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.graph-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.svg-container {
    display: flex;
    justify-content: center;
    /* background-color: rgb(199, 3, 3); */
    border: 1px solid black;
}
#myPlot {
    width:100%;
    max-width:700px;
}
.btn-container {
    display: flex;
    margin-bottom: 20px;
}
table {
    border-radius: 5px;
    margin-bottom: 20px;
    width: 70%;
}
table, tr {
    border: 1px solid black;
    /* width: 60%; */
    border-collapse: collapse;
}
tr:nth-child(even){
    background-color: brown;
    color: white;
}
tr:nth-child(odd){
    background-color: rgba(165, 42, 42, 0.842);
    color: white;
}
th , td {
    border: 1px solid black;
    padding: 3px;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
}
label {
    font-size: 15px;
}
input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
input[type="number"] {
    padding: 3px;
    width: 40px;
    font-size: 15px;
    font-weight: bold;
    margin: none;
    border-radius: 2px;
    background-color: rebeccapurple;
    color: white;
    border: 1px solid black;
    text-align: center;
}
input[type="number"]:nth-child(odd){
    border-left: none;
}
input[type="number"]:focus{
    outline: none;
}
input[type="submit"]{
    border: none;
    padding: 5px;
    font-size: 15px;
    width: 80%;
    margin-top: 10px;
    border-radius: 5px;
    background-color: rgba(165, 42, 42, 0.723);
    color: white;
    border: 1px solid beige;
    transition: background-color .2s linear;
}
input[type="reset"] {
    width: 20%;
    border: none;
    padding: 5px;
    font-size: 15px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: rgba(165, 42, 42, 0.723);
    color: white;
    border: 1px solid beige;
    transition: background-color .2s linear;
}
input[type="submit"]:hover, input[type="reset"]:hover{
    background-color: brown;
    cursor: pointer;
}
input[type="submit"]:active{
    outline: none;
}
.x1-y1-container, .x2-y2-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

@media (min-width: 500px){
    .detail-container {
        display: flex;
        flex-direction: column;
    }
    .table-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .graph-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}
